.page2{
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
  box-sizing: border-box;
}
.header2{
  width: 100%;
  height: 70px;
  border-radius: 20px;
  background: linear-gradient(90deg, #ff4f7b, #ffc107);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
}
.logo{
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.rightHeader{
  display: flex;
  align-items: center;
  gap: 20px;
}
.title{
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.backBtn{
  padding-top: 8px;
  padding-bottom: 11px;
  background-color: #fff;
  text-align: center;
  width: 145px;
  height: 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}
.cartContainer{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.itemsList{
  padding-left: 75px;
  height: 315spx;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 75vh;
  overflow-y: auto;
  padding-right: 10px;
}
.cartItem{
  width: 45%;
  height: 280px;
  background: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #444;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 70%;
}
.info h3{
  margin: 0;
  font-size: 22px;
  color: #444;
}
.info p{
  margin: 0;
  font-size: 16px;
  color: #444;
}
.controls{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.controls button{
  padding: 0 0 20px 0;
  text-align: center;
  width: 40px;
  height: 30px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #2b2d33;
  color: white;
  font-size: 20px;
}
.controls span{
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
.price{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding: 7px 22px;
  border-radius: 18px;
  width: 145px;
  background: linear-gradient(90deg, #ff4f7b, #ffc107);
  height: 45px;
}
.removeBtn{
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding: 7px 22px;
  border-radius: 18px;
  width: 145px;
  height: 45px;
  background: #ff4f7b;
}
.imageBox{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.imagePlaceholder{
  width: 130px;
  height: 170px;
  border-radius: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #555;
}
.summary{
  width: 100%;
  background: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #444;
}
.total{
  font-size: 24px;
  color: #444;
}
.buyBtn{
  width: 250px;
  height: 55px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #ff4f7b, #ffc107);
}
.buyBtn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.empty{
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #444;
}